.popup__name {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    border-top: none;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    padding-bottom: 7.3px;
    margin: 48px 0 0;
}

@media screen and (max-width: 678px) {
    .popup__name {
        padding-bottom: 9.3px;
        margin-top: 76px;
    }
}