.profile__button {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button:focus {
  outline: none;
}

@media screen and (max-width: 970px) {
  .profile__button {
    margin-top: 32px;
  }
}

@media screen and (max-width: 678px) {
  .profile__button {
    width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
}
