.popup__close {
    position: absolute;
    margin-left: 386px;
    margin-top: -79px;
    cursor: pointer;
    transition: all 0.5s ease;
    /* transform: rotate(45deg); */
    border: none;
    background-image: url(../../../images/close_Icon.svg);
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    padding: 23px
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 678px) {
    .popup__close {
        margin-left: 211px;
        margin-top: -107px;
    }
}